<h1>Lista de Productos</h1>
{{#if carts.products.length}}
    <div class="products-container">
        {{#each carts.products}}
            <div class="product-card">
                <img src="{{product.thumbnails}}" alt="{{product.title}}" class="product-image">
                <h2>{{product.title}}</h2>
                <p><strong>Descripción:</strong> {{product.description}}</p>
                <p><strong>Código:</strong> {{product.code}}</p>
                <p><strong>Precio:</strong> ${{product.price}}</p>
                <p><strong>Stock:</strong> {{product.stock}} unidades</p>
                <p><strong>Estado:</strong> {{#if product.status}}Disponible{{else}}Agotado{{/if}}</p>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>No hay productos disponibles.</p>
{{/if}}